body {
	margin: 0px;
}

#header {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 85px;
	z-index: 9;
	
	clear: left;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,666666+0,2c2c2c+0,474747+0,2b2b2b+56,1c1c1c+84,1c1c1c+99,000000+99,1c1c1c+99,131313+100,111111+100,595959+101&0.8+0,0.8+99 */
	background: -moz-linear-gradient(top, rgba(102,102,102,0.8) 0%, rgba(43,43,43,0.8) 56%, rgba(28,28,28,0.8) 84%, rgba(0,0,0,0.8) 99%, rgba(19,19,19,0.8) 100%, rgba(89,89,89,0.8) 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,0.8)), color-stop(56%,rgba(43,43,43,0.8)), color-stop(84%,rgba(28,28,28,0.8)), color-stop(99%,rgba(0,0,0,0.8)), color-stop(100%,rgba(19,19,19,0.8)), color-stop(101%,rgba(89,89,89,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,0.8) 0%,rgba(43,43,43,0.8) 56%,rgba(28,28,28,0.8) 84%,rgba(0,0,0,0.8) 99%,rgba(19,19,19,0.8) 100%,rgba(89,89,89,0.8) 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,0.8) 0%,rgba(43,43,43,0.8) 56%,rgba(28,28,28,0.8) 84%,rgba(0,0,0,0.8) 99%,rgba(19,19,19,0.8) 100%,rgba(89,89,89,0.8) 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,0.8) 0%,rgba(43,43,43,0.8) 56%,rgba(28,28,28,0.8) 84%,rgba(0,0,0,0.8) 99%,rgba(19,19,19,0.8) 100%,rgba(89,89,89,0.8) 101%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,0.8) 0%,rgba(43,43,43,0.8) 56%,rgba(28,28,28,0.8) 84%,rgba(0,0,0,0.8) 99%,rgba(19,19,19,0.8) 100%,rgba(89,89,89,0.8) 101%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc666666', endColorstr='#cc595959',GradientType=0 ); /* IE6-9 */
}

#logo {
	opacity: 1.0;
	
	margin-top: 5px;
}

#menu {
	float: left;
	height: 60px;
	width: 60px;
	margin-left: 20px;
	opacity: 0.8;
	
	background-color: rgba(0, 0, 0, 0.0);
	margin-top: 10px;
	
	padding: 0px;
	border: 0px;
}

#menu:hover {
	cursor: pointer;
}

#main {
	position: fixed;
	height: 100%;
	width: 100%;
	margin-top: 85px;
	
	background-color = rgba(0, 0, 0, 0.0)
}
#map {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1;
	clear: left;
}

#left_bar {
	background-color: white;

	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 0px;
	height: 100%;
	
	z-index: 99;
	
	opacity: 0.9;
	
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	
	-webkit-transition-property: all;
}

#back_arrow {
	position: absolute;
	
	left: -500px;
	top: 10px;
	width: 40px;
	height: 40px;
	
	z-index: 99;
	
	opacity: 0.9;
	
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	
	-webkit-transition-property: all;
	}
	
#back_arrow:hover {
	cursor: pointer;
}
#drop_Menu {
	background-color: white;

	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 500px;
	height: 0px;
	
	z-index: 1;
	
	opacity: 0.9;
	
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	
	-webkit-transition-property: all;
}

#up_arrow {
	position: absolute;
	top: -500px;
	left: 10px;
	width: 40px;
	height: 40px;
	
	opacity: 0.9;
	z-index: 99;
	
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	
	-webkit-transition-property: all;
}

#up_arrow {
	cursor: pointer;
}

button{
	outline: 0;
	background: none;
	border: 1px;
}

#left_sidebar {
	width: 0px;
	height: 140px;
	
	border-right: 1px solid #404040;
}

#left_top {
	height: 140px;
	width: 0px;
	border-bottom: 1px solid #404040;
}

#left_main {
	
}

#left-title {
	width: 0px;
	height: 140px;
	border-left: 1px solid #404040;
}

#building {
	position: absolute;
	top: 0px;
	left: 80px;
	
	width: 420px;
	height: 100px;
	
	margin-top: 0px;
	
	font-family: sans-serif;
	
	text-align: center;
	color: #404040;
	
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	
	-webkit-transition-property: all;
}

.buildingname {
	margin-top: 12px;
	font-size: 32px;
}

.av {
	font-size: 16px;
	padding-right: 10px;
}

.num {
	font-size: 16px;
	padding-left: 10px;
	border-left: 1px solid #AAAAAA;
}

.bathrooms {
	top: 0px;
	left: 0px;
	
	text-align: left;
	font-size: 32px;
	
	border-bottom: 1px solid #404040;
	
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	
	-webkit-transition-property: all;
}

.bathroom {
	top: 5px;
	
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	
	-webkit-transition-property: all;
}

a:link {
	color: #404040;
	text-decoration: none;
}

a:visited {
	color: #797979;
	text-decoration: none;
}

a:hover {
	background-color: #E4E4E4;
	text-decoration: bold;
}